*{
    margin: 0;
    font-family: 'Open Sans' , sans-serif;
}

.portfolio-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 230px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style-type: none;
    margin-left: 50px;
}
nav ul li a{
    text-decoration: none;
}
.btn-primary{
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    height: 64px;
    background:#FD6E0A;
    color:floralwhite;
    border: 0;
    border-radius: 5px;
    margin-right: 10px;
}
.btn-secondry{
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    height: 65px;
    color:  #FD6E0A;
    border: 2px solid #FD6E0A;
    border-radius: 5px;

}
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png') , url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right , left;
}
/*-----------------Banner Styles--------------*/

.header-banner{
    margin: 0 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-hi{
    width: 177px;
    height: 61px;
    font-weight: 600;
    font-size: 45px;
}
.banner-title{
    width: 498px;
    height: 116px;
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    margin-bottom: 20px;
}
.banner-discription{
    margin-bottom: 30px;
    font-size: 18px;
    color: #757575;
}

/*-----------About Section-----------*/
.about-section{
    margin: 0 auto;
    max-width: 1140px;

}
.about{
    margin-top: 130px;
    padding: 130px 155px;
    background: #FFF8F3;
    border-radius: 10px;
    text-align: center;
}

.section-title{
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    margin-bottom: 30px;
}
.about-discription{
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.about-info-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.about-info{
    margin-right: 55px;
}

.info-title{
    color: #757575;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.info-discription{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #474747;
    text-align: center;
}


/*-------------What i do--------------*/
.what-i-do{

}

.i-do{
    margin-top: 130px;
    text-align: center;
}
.skill-container{
    display: flex;
    gap:24px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    color: #181818;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px; 
    margin: 20px 0;
}
.what-i-do-discription{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 20px;
}